{% extends 'basic.html' %}
 {% load static %}
 {% block title %} About {% endblock %}

 {% block css %}

   .col-md-6 .card{
    background-color: #8080802b;
    border-color: #00000008;
    }
    .row{
    margin-top: 6px;
    }

 {% endblock %}

{% block body %}
 <div class="row">
    <div class="col-md-6">
        <div class="card card-body h-83">
            <h4 style="font-size:40px">I'm a <b>Software Engineer</b>!</h4>
            <hr>
            <p style="font-size:25px">I can help you to solve problem, build a product <br>or grow existing project.</p>

            <p style="font-size:25px">Have a look through some of my <b>Skills</b> and <b>Projects</b>. <br>Need help
                with an upcoming project or application? </p>

            <p style="font-size:25px">Learn a bit more about me and then consider hiring me.</p>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-body h-83">
            <h3 style="font-size:40px"><b>Education</b></h3>
            <hr>
            <p style="font-size:25px">Bachelor in <b>Computer Science</b><br>Graduate from <b>Savitribai Phule Pune
                University</b><br>Completed in year <b>2020</b> with <b>CGPA 6.49</b></p>
            <hr>
            <p style="font-size:25px">Diploma in <b>Metallurgical Engineering</b><br>From <b>Government
                Polytechnic</b><br>Completed in year <b>2017
            </b>with <b>63.06%</b></p>
            <hr>
            <p style="font-size:25px">Primary school<br> From <b>Hindu Dnyanpeeth Convent</b><br>Completed in year <b>2013</b>
                with <b>83.64%</b></p>
        </div>
    </div>
 </div>
{% endblock %}

