{% extends 'basic.html' %}
 {% load static %}
 {% block title %} Certifications {% endblock %}

 {% block css %}

    .card{
    background-color: #dee2e685;
    margin-left: 50px;
    margin-top: 8px;
    }
    .card-body {
    padding: 0.50rem;
    }
    .card-title {
     margin-top: 0.75rem;
    }
    .list-group-item{
    background-color: #dae0e5;
    }
    a{
    color: #e80404;
    }
 {% endblock %}
{% block body %}
 <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src={% static 'images/ds.jpg' %} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Course name : DATA SCIENCE</h5>
                <p class="card-text">In this course, I studied about data gathering, data analyzing,
                    data cleaning, Data visualization techniqes using matplot, seaborn libraries, Machine Learning model
                    creation and Evaluation Metrics. </p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Institute :ETLHive Software Training Institute</li>
                <li class="list-group-item">Duration : 4 months</li>
            </ul>
            <div class="card-body">
                <a href={% static 'images/certificate.pdf' %} class="card-link">Certificate</a>
            </div>
        </div>
    </div>
 </div>
{% endblock %}