 {% extends 'basic.html' %}
 {% load static %}
 {% block title %} Home {% endblock %}

 {% block css %}

    .col-md-6 .card{
    background-color: #e9ecef00;
    border-color: #e9ecef00;
    }
    .row {
    margin-right: -174px;
    margin-left: -174px;
    margin-top: 100px;
    }
    .h3, h3 {
    font-size: 1.25rem;
    margin-top: 100px;
    margin-bottom: 24px;
    }
    .btn-light {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    border-width: medium;
    border-radius: 2.3rem;
    }
    #profile-pic {
    width: 390px;
    height: 390px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    }

 {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100" id="profile-wrapper">


                <h3>Hey there!</h3>
                <h1 style="font-size: 45px">I'm <b>Ashwajit Raut</b></h1>


                <p>I love Coding, doing Research and<br> Collaborating.</p>
                <p class="lead">
                    <a class="btn btn-light btn-lg" href="/about" role="button">Know More</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body h-100">
                <img id="profile-pic" src={% static 'images/my2.jpg' %}>
            </div>
        </div>
    </div>

    {% endblock %}