{% extends 'basic.html' %}
 {% load static %}
 {% block title %} Projects {% endblock %}

 {% block css %}

    .card{
    background-color: #e9ecef59;
    margin-left: 50px;
    }
    .card-body {
    padding: 0.50rem;
    }
    .card-title {
    margin-bottom: -7.25rem;
    }
    .row {
    margin-top: 8px;
    padding: 0.25rem;
    }
    .list-group-item{
    background-color: #dae0e5;
    }
    a{
    color: #e80404;
    }
    ul {
    padding: 0;
    list-style-type: none;
    }
 {% endblock %}
{% block body %}
 <div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src={% static 'images/rasp.jpg' %} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Vehicle Collision Avoidance System</h5>
                <p class="card-text"> An IoT Based System to design an efficient automatic authorized Vehicle Collision
                    Avoidance System using Raspberry pi 3 and ultrasonic sensors. </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Project type : An IoT based system</li>
                <li class="list-group-item">Work in Project : Traffic Management</li>
            </ul>
            <div class="card-body">
                <a href={% static 'images/82.GSJ1868.pdf' %} class="card-link">Research Paper</a>
                <a href={% static 'images/ppr.jpg' %} class="card-link">Certificate</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src={% static 'images/java.jpg' %} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Student Result Management System</h5>
                <p class="card-text">It is an Web Application where students can see their results by entering the
                    credentials. Student can access their data easily also understand easily.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Project type : Web Based Application</li>
                <li class="list-group-item">Work in Project : Result Management</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Research Paper</a>
                <a href="#" class="card-link">Certificate</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src={% static 'images/tfa3.jpg' %} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Two Factor Authentication</h5>
                <p class="card-text">Two-factor authentication has been recently introduced to meet the demand of
                    organizations for providing a stronger and safer authentication process for their users.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Project type : Web Based Application</li>
                <li class="list-group-item">Work in Project : Security Management</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Research Paper</a>
                <a href="#" class="card-link">Certificate</a>
            </div>
        </div>
    </div>
 </div>
{% endblock %}