



#profile-wrapper{
   text-align: left;
}



ul{
   padding: 0;
   list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social {
    width: 40px;
    height: 40px;
}

.h5, h5 {
    font-size: 1.25rem;
    margin-top: 100px;
    margin-bottom: 24px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-top: 50px;
    margin-left: auto;
}
#email{
    color: black;
    }
    #mob {
    margin-top: 0;
    margin-bottom: 0rem;
}